$font-sizes: (
  "heading1": 32px,
  "heading2": 24px,
  "heading3": 22px,
  "heading4": 20px,
  "heading5": 30px,
  "subText1": 20px,
  "subText2": 18px,
  "subText3": 17px,
  "subText4": 16px,
  "bodyText1": 14px,
  "bodyText2": 13px,
  "bodyText3": 12px,
  "bodyText4": 15px,
);

$font-weights: (
  "extraBold": 800,
  "semiBold": 600,
  "bold": 700,
  "sectionHeadingsLink": 500,
  "bodyText1": 400,
  "bodyText2": 300,
);

$alignments: (
  "left": left,
  "right": right,
  "center": center,
);

$breakpointSmall: 480px;
$breakpointMedium: 768px;
$breakpointLarge: 1024px;
$breakpointSmallScreenMaxWidthLimit: 479px;
$breakpointMediumScreenMinWidthLimit: 767px;
$breakpointMediumScreenMaxWidthLimit: 1023px;
$breakpointLargeScreenMaxWidthLimit: 1400px;

$black: #000000;
$indigo-blue: #3129a8;
$pure-blue: #006fe3;
$dark-gray: #1c1c1c;
$white: #ffffff;
$peach-puff: #ffdab9;
$red: #fb004e;
$deep-gray: #1c1c1c;
$ash-gray: #c4c4c463;
$dusty-gray: #adadaa;
$dark-navy: #141430;
$deep-navy: #0e0941;
$navy: #21204b;
$silver-sand: #c2c2c2;
$cultured: #f6f6f6;
$deep-gray: #919191;
$moon-dust: #dfe4ef;
$bright-gray: #ececec;
$transparent-black: #00000066;
$mail-blue: #4679fa;
