@use "./variables" as *;
@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
$fontFamilyRegular: "Montserrat";
/* Add this in custom.css to check */

.ck-editor__main ul {
  margin: 0 !important;
}

.ck-content {
  font-size: 16px;
  font-family: $fontFamilyRegular;

  ul {
    li {
      list-style: none;
      padding-left: 39px;
      position: relative;
      line-height: 1.5em;
    }

    li:before {
      content: " ";
      left: 20px;
      position: absolute;
      height: 11px;
      /* adjust to control the size  */
      aspect-ratio: cos(30deg);
      top: calc((1.5em - 11px) / 2);
      clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
      background: $red;
    }
  }

  /* Titles */
  .title {
    font-size: map.get($font-sizes, "heading1");
    font-weight: map.get($font-weights, "bold");
    color: $black;
    margin-bottom: 10px;
  }

  .sub-title {
    font-size: map.get($font-sizes, "heading2");
    font-weight: map.get($font-weights, "bold");
    color: $black;
    margin-bottom: 20px;
  }

  /* Descriptions */
  .description {
    font-size: map.get($font-sizes, "subText4");
    font-weight: map.get($font-weights, "bodyText1");
    color: $black;
    line-height: 1.5;
  }

  .bold-description {
    font-size: map.get($font-sizes, "subText4");
    font-weight: map.get($font-weights, "semiBold");
    color: $black;
    line-height: 1.5;
  }

  .card-title {
    font-size: map.get($font-sizes, "heading2");
    font-weight: map.get($font-weights, "bold");
    color: $black;
  }

  .card-description {
    font-size: map.get($font-sizes, "subText4");
    font-weight: map.get($font-weights, "bodyText1");
    color: $deep-navy;
    line-height: 1.5;
  }

  .list-description {
    @extend .description;
    padding-left: 39px;
  }

  .list-item {
    font-size: map.get($font-sizes, "subText4");
    font-weight: map.get($font-weights, "bodyText1");
    color: $black;
    line-height: 1.5;
  }

  .baner-list-item {
    @extend .list-item;
    padding-left: 19px;
  }

  .baner-list-item:before {
    left: 0;
  }

  /* Links */
  a {
    font-weight: map.get($font-weights, "semiBold");
    color: $red !important;
  }

  /* Two Column List */
  .list-column {
    column-count: 2;
  }
}