@use "./variables" as *;
@use "sass:map";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
$fontFamilyRegular: "Montserrat";
/* Add this in custom.css to check */

.ck-editor__main ul {
  margin: 0 !important;
}

.ck-content {
  font-size: 16px;
  font-family: $fontFamilyRegular;

  ul {
    li {
      list-style: none;
      padding-left: 39px;
      position: relative;
      line-height: 1.5em;
    }

    li:before {
      content: " ";
      left: 20px;
      position: absolute;
      height: 11px;
      /* adjust to control the size  */
      aspect-ratio: cos(30deg);
      top: calc((1.5em - 11px) / 2);
      clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
      background: $red;
    }
  }

  /* Global Table Styling */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  border: solid 1px #66696b;
}

/* First Row of tbody as Header */
tbody tr:first-child {
  background-color: #1f2225; /* Dark background */
  color: #ffffff; /* White text */
  font-weight: bold;
  height: 80px;
}

/* Style for Table Header Cells */
tbody tr:first-child td {
  padding: 20px;
  font-family: MontserratRoman, sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.32px;
  text-align: left;
  border-bottom: 2px solid #66696b !important;
  color: #fff;
}

/* Table Data Cells */
td {
  font-family: MontserratRoman, sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.32px;
  color: #1f2225;
  padding: 20px;
  border-bottom: 1px solid #66696b !important;
  vertical-align: middle !important; /* ✅ Vertically center text */
  display: table-cell;
  padding: 0px 12px !important;
}

/* First Column (Serial No.) */
td:first-child {
  border-right: 1px solid #66696b;
  border-radius: 10px 0 0 0 !important;
}

/* Last Column */
td:last-child {
  border-radius: 0 10px 0 0 !important;
}

/* Hover Effect */
tbody tr:hover {
  background-color: #f5f5f5;
}

/* Responsive Styling */
@media (max-width: 768px) {
  table {
    width: 100%;
    overflow-x: auto;
  }
}


  /* Titles */
  .title {
    font-size: map.get($font-sizes, "heading1");
    font-weight: map.get($font-weights, "bold");
    color: $black;
    margin-bottom: 10px;
  }

  .sub-title {
    font-size: map.get($font-sizes, "heading2");
    font-weight: map.get($font-weights, "bold");
    color: $black;
    margin-bottom: 20px;
  }

  /* Descriptions */
  .description {
    font-size: map.get($font-sizes, "subText4");
    font-weight: map.get($font-weights, "bodyText1");
    color: $black;
    line-height: 1.5;
  }

  .bold-description {
    font-size: map.get($font-sizes, "subText4");
    font-weight: map.get($font-weights, "semiBold");
    color: $black;
    line-height: 1.5;
  }

  .card-title {
    font-size: map.get($font-sizes, "heading2");
    font-weight: map.get($font-weights, "bold");
    color: $black;
  }

  .card-description {
    font-size: map.get($font-sizes, "subText4");
    font-weight: map.get($font-weights, "bodyText1");
    color: $deep-navy;
    line-height: 1.5;
  }

  .list-description {
    @extend .description;
    padding-left: 39px;
  }

  .list-item {
    font-size: map.get($font-sizes, "subText4");
    font-weight: map.get($font-weights, "bodyText1");
    color: $black;
    line-height: 1.5;
  }

  .baner-list-item {
    @extend .list-item;
    padding-left: 19px;
  }

  .baner-list-item:before {
    left: 0;
  }

  /* Links */
  a {
    font-weight: map.get($font-weights, "semiBold");
    color: $red !important;
  }

  /* Two Column List */
  .list-column {
    column-count: 2;
  }
  .banner-sub-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500; // Medium weight
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.27px;
  }
  .banner-description {
    font-family: "Montserrat";
    font-style: italic;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-transform: capitalize; // Capitalizes the first letter of each word
    color: #000000; // Black color
  }
}
